<ion-view title="Event Detail" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="eventDetail-card25">
      <ion-item id="eventDetail-list-item14">
        <h2>{{title}}</h2>
      </ion-item>
      <div style="margin: 0px;background-color: rgb(232, 235, 239); text-align: center;">
        <image src="{{image}}" style="width: 100%;"></i>
      </div>
      <div class="item item-body" id="eventDetail-list-item-container7">
        <div id="eventDetail-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="eventDetail-list-item15">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>